@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  word-wrap: break-word;
}

.bg {
  /* background-image: url(/images/bg.jpg); */
  height: 100vh;
  width: 100vw;
  background-color: #101010;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerDivider {
  border-left: 1px solid rgba(56, 56, 56, 0.6);
  border-right: 1px solid #4c215e;
  border-radius: 5px;
  margin-left: 15px;
}

.purple-bold-font {
  font-family: Impact, Charcoal, sans-serif;
  color: #b413ec;
  font-weight: 300;
}

.about-font > h1,
h2,
h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #d2b309;
  font-weight: lighter;
}

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.table tr.visible.transition {
  display: table-row !important;
}

.form-container {
  width: 100%;
  margin: auto;
}

.login-form-container {
  width: 25vw;
  margin: auto;
}

.review-form {
  width: 40vw;
  margin-left: 10px;
}

#reviews {
  background-color: #3a3a3a;
}

#content {
  min-height: 100vh;
  margin: 0;
  background-color: rgba(56, 56, 56, 0.6);

  padding: 10px;
}

#searchbar {
  margin-left: 15px;
  border-radius: 10px;
  width: 25vw;
}

#update-form-button {
  background-color: #034f6d;
  color: #ffffff;
}

#review-card {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

#menubar {
  background: rgba(32, 32, 32, 0.85);
  border-radius: 6px !important;
}
